

@font-face{font-family:cheltenham-italic-700;src:local('☺︎'),url(/fonts/cheltenham-italic-700.ttf) format('truetype');font-style:italic;font-weight:700}

body{
 font-family: 'Raleway', helvetica;
}
.title{

    font-family: "cheltenham-italic-700",georgia,"times new roman",times,serif;
}
.main{
    min-height:60vh;
}
.container{
    padding-left:15px;
    padding-right:15px;
}
#logo{
    padding-left:12px;
    height:8vh;
    width:auto;
}

body {
  background: #90caf9; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#90caf9, white); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#90caf9, white); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#90caf9, white); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#90caf9, white); /* Standard syntax */
}
blin{
    display:block-inline;
    font-size:20px;
    padding-top:20px;
}
a:hover{
    color:rgba(0,0,0,0.3);
}