

@font-face{font-family:cheltenham-italic-700;src:local('☺︎'),url(/fonts/cheltenham-italic-700.ttf) format('truetype');font-style:italic;font-weight:700}

body{
 font-family: 'Raleway', helvetica;
}
.title{

    font-family: "cheltenham-italic-700",georgia,"times new roman",times,serif;
}
.main{
    min-height:60vh;
}
.container{
    padding-left:15px;
    padding-right:15px;
}
#logo{
    padding-left:12px;
    height:15vh;
    width:auto;
}
